{
    "presets": [["env", { "modules": false }], "react"],
    "env": {
        "development": {
            "plugins": ["react-hot-loader/babel"]
        },
        "test": {
            "presets": ["env", "react"]
        }
    }
}
